<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.batch.repository.BonusMapper">

    <resultMap id="bonus" type="com.example.batch.domain.Bonus">
        <result column="EMP_ID" property="empId" />
        <result column="PAYMENTS" property="payments" />
    </resultMap>

    <select id="findAll" resultMap="bonus">
        <![CDATA[
            SELECT
                BONUS.EMP_ID,
                BONUS.PAYMENTS
        FROM
            BONUS
        ]]>
    </select>

    <insert id="insert"
            parameterType="com.example.batch.domain.Bonus">
        <![CDATA[
        INSERT INTO
            BONUS(EMP_ID, PAYMENTS)
        VALUES (
            #{empId}, #{payments}
        )
        ]]>
    </insert>

</mapper>
